<!DOCTYPE html>
<html lang="ar" >
<head>
	<title>Product Detail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap" rel="stylesheet">
	<style>
	  body, input, select, button, label {
			font-family: 'Dancing Script', cursive !important;
		}
	  body {
		font-family: 'Dancing Script', cursive;
		background-color: #fdfdfd;
		margin: 0;
		padding: 0;
	  }
	  form {
		max-width: 400px;
		margin: 20px auto;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 10px;
		background-color: #fff;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	  }
	  label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
		color: #444;
	  }
	  .form-group {
		margin-bottom: 15px;
	  }
	  input, select, button {
		width: 100%;
		padding: 10px;
		margin-top: 5px;
		font-family: 'Dancing Script', cursive;
		font-size: 1.2em;
		border: 2px solid #101010;
		border-radius: 10px;
		box-sizing: border-box;
	  }
	  .color-options, .size-options {
		display: flex;
		gap: 15px;
	  }
	  .color-option, .size-option {
		display: flex;
		align-items: center;
	  }
	  .color-input {
		appearance: none;
		width: 25px;
		height: 25px;
		border: 2px solid #ccc;
		border-radius: 50%;
		margin-right: 10px;
		cursor: pointer;
		outline: none;
	  }
	  .color-input.bordeau { background-color: rgb(126, 37, 37); }
	  .color-input.beige { background-color: beige; }
	  .color-input.black { background-color: black; }
	  .color-input:checked {
		border: 2px solid #000;
	  }
	  button {
		background-color: greenyellow;
		color: rgb(211, 110, 110);
		border: 4px solid black;
		cursor: pointer;
		transition: background-color 0.3s ease;
	  }
	  button:hover {
		background-color: #ff6b81;
		color: rgb(230, 230, 230);
	  }
	  input:focus {
		border-color: #881b41; /* Pink border on focus */
		outline: none; /* Remove default focus outline */
		}
		.price-container {
            font-family: Arial, sans-serif;
            font-size: 18px;
            color: #333;
        }

        .original-price {
            text-decoration: line-through;
            color: #a9a9a9;
            margin-right: 10px;
        }

        .discounted-price {
            font-weight: bold;
            color: #d9534f;
			animation: zoomEffect 1s infinite; /* Apply the animation */
			display: inline-block; /* Ensure transform works properly */

        }

        .percentage-off {
            color: #5cb85c;
            font-size: 14px;
            margin-left: 10px;
        }
		@keyframes zoomEffect {
            0%, 100% {
                transform: scale(1); /* Normal size */
            }
            50% {
                transform: scale(1.2); /* Slightly larger */
            }
        }

        .required-star {
            color: red;
            margin-left: 5px;
        }
	</style>

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/dammietteLogo.svg/">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->


			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="static/images/dammietteLogo.svg"  alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<!-- <div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="index.html">Home</a>
								<ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul>
							</li>

							<li>
								<a href="product.html">Shop</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Features</a>
							</li>

							<li>
								<a href="blog.html">Blog</a>
							</li>

							<li>
								<a href="about.html">About</a>
							</li>

							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>	 -->

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>

						<a href="#" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a> -->
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="static/images/dammietteLogo.svg" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a> -->
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<!-- <div class="menu-mobile">
			

			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					<ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="product.html">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div> -->

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="static/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->
	<!-- <div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="static/images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="static/images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="static/images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="#" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="#" class="stext-109 cl8 hov-cl1 trans-04">
				Women
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Boot
			</span>
		</div>
	</div>
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="static/images/boot3.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="static/images/boot3.jpg" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="static/images/boot3.jpg">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="static/images/boot2.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="static/images/boot2.jpg" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="static/images/boot2.jpg">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="static/images/boot1.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="static/images/boot1.jpg" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="static/images/boot1.jpg">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							Le boot Dammiette
						</h4>

						<span class="mtext-106 cl2">
							<span class="original-price">4500 DA</span>
							<span class="discounted-price" style="font-size: 25px;"><b> 2990 DA</b></span>
							<span class="percentage-off">(+33% off)</span>
						</span>

						<p class="stext-102 cl3 p-t-23">
							un boot manifique, avec un talon long et du cuir et daim. n'hesitez pas de commander.
						</p>
						
						<!--  -->
						<div class="p-t-33">
							
							<form action="/product" method="POST" dir="rtl">
								<div class="form-group">
								  <label>اختر اللون		<span class="required-star">*</span></label>
								  <div class="color-options">
									<label class="color-option">
									  <input type="radio" name="color" value="bordeau" class="color-input bordeau" required>
									  بوردو
									</label>
									<label class="color-option">
									  <input type="radio" name="color" value="beige" class="color-input beige">
									  بيج
									</label>
									<label class="color-option">
									  <input type="radio" name="color" value="black" class="color-input black">
									  أسود
									</label>
								  </div>
								</div>
								
								
								<!-- Size Radio Field -->
								<div class="form-group">
								  <label>اختر المقاس		<span class="required-star">*</span></label>
								  <div class="size-options">
									<label class="size-option"> 36 <input type="radio" name="size" value="36" checked required> </label>
									<label class="size-option"> 37 <input type="radio" name="size" value="37"> </label>
									<label class="size-option"> 38 <input type="radio" name="size" value="38"> </label>
									<label class="size-option"> 39 <input type="radio" name="size" value="39"> </label>
								  </div>
								</div>
								<!-- Name Field -->
								<div class="form-group">
								  <label for="name">الاسم		<span class="required-star">*</span></label>
								  <input type="text" id="name" name="name" required placeholder="أدخل اسمك" style="border : 1px solid black;">
								</div>
								

								<!-- Phone Number Field -->
								<div class="form-group">
								  <label for="phone">رقم الهاتف		<span class="required-star">*</span></label>
								  <input type="tel" id="phone" name="phone" required placeholder="+213-777-777-777" style="border : 1px solid black;">
								</div>
							  
								
								<!-- State Dropdown -->
								<div class="form-group">
								  <label for="state">اختر ولايتك		<span class="required-star">*</span></label>
								  <select id="state" name="state" required >
									<option value="">-- اختر الولاية --</option>
									<option value="Adrar">أدرار</option>
									<option value="Chlef">الشلف</option>
									<option value="Laghouat">الأغواط</option>
									<option value="Oum El Bouaghi">أم البواقي</option>
									<option value="Batna">باتنة</option>
									<option value="Béjaïa">بجاية</option>
									<option value="Biskra">بسكرة</option>
									<option value="Béchar">بشار</option>
									<option value="Blida">البليدة</option>
									<option value="Bouira">البويرة</option>
									<option value="Tamanrasset">تمنراست</option>
									<option value="Tébessa">تبسة</option>
									<option value="Tlemcen">تلمسان</option>
									<option value="Tiaret">تيارت</option>
									<option value="Tizi Ouzou">تيزي وزو</option>
									<option value="Algiers">الجزائر</option>
									<option value="Djelfa">الجلفة</option>
									<option value="Jijel">جيجل</option>
									<option value="Sétif">سطيف</option>
									<option value="Saïda">سعيدة</option>
									<option value="Skikda">سكيكدة</option>
									<option value="Sidi Bel Abbès">سيدي بلعباس</option>
									<option value="Annaba">عنابة</option>
									<option value="Guelma">قالمة</option>
									<option value="Constantine">قسنطينة</option>
									<option value="Médéa">المدية</option>
									<option value="Mostaganem">مستغانم</option>
									<option value="M'Sila">المسيلة</option>
									<option value="Mascara">معسكر</option>
									<option value="Ouargla">ورقلة</option>
									<option value="Oran">وهران</option>
									<option value="El Bayadh">البيض</option>
									<option value="Illizi">إليزي</option>
									<option value="Bordj Bou Arréridj">برج بوعريريج</option>
									<option value="Boumerdès">بومرداس</option>
									<option value="El Tarf">الطارف</option>
									<option value="Tindouf">تندوف</option>
									<option value="Tissemsilt">تيسمسيلت</option>
									<option value="El Oued">الوادي</option>
									<option value="Khenchela">خنشلة</option>
									<option value="Souk Ahras">سوق أهراس</option>
									<option value="Tipaza">تيبازة</option>
									<option value="Mila">ميلة</option>
									<option value="Aïn Defla">عين الدفلى</option>
									<option value="Naâma">النعامة</option>
									<option value="Aïn Témouchent">عين تموشنت</option>
									<option value="Ghardaïa">غرداية</option>
									<option value="Relizane">غليزان</option>
									<option value="Timimoun">تيميمون</option>
									<option value="Bordj Badji Mokhtar">برج باجي مختار</option>
									<option value="Ouled Djellal">أولاد جلال</option>
									<option value="Béni Abbès">بني عباس</option>
									<option value="In Salah">عين صالح</option>
									<option value="In Guezzam">عين قزام</option>
									<option value="Touggourt">تقرت</option>
									<option value="Djanet">جانت</option>
									<option value="El M'Ghair">المغير</option>
									<option value="El Meniaa">المنيعة</option>
	
									<!-- Add other Algerian states -->
								  </select>
								</div>
	
								<!-- Address Field -->
								<div class="form-group">
									<label for="address">العنوان</label>
									<input type="text" id="address" name="address"  placeholder="أدخل عنوانك" style="border : 1px solid black;">
								</div>
								
							  

								<div class="form-group">
									<label for="quantity">الكمية</label>
									<div style="display: flex; align-items: center; border: 2px solid #ccc; border-radius: 5px; overflow: hidden; width: fit-content;">
									  <!-- Minus Button -->
									  <button type="button" onclick="decreaseQuantity()" style="padding: 10px; background: #ce8f98; border: none; cursor: pointer;color:rgb(0, 0, 0)">-</button>
									  <!-- Quantity Input -->
									  <input type="number" id="quantity" name="quantity" min="1" value="1" required style="width: 50px; text-align: center; border: none; outline: none;">
									  <!-- Plus Button -->
									  <button type="button" onclick="increaseQuantity()" style="padding: 10px; background: #ce8f98; border: none; cursor: pointer;color:rgb(0, 0, 0)">+</button>
									</div>
								  </div>
								<!-- Submit Button -->
								<button type="submit" style="border : 1px solid black; background-color: #ce8f98; color:rgb(0, 0, 0)">تأكيد الطلبية</button>
							</form>
						</div>

						<!--  -->
						
					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">الوصف</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#information" role="tab">معلومات اضافية</a>
						</li>

						<!-- <li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
						</li> -->
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6">
									هذه جزمة أنيقة متوفرة بلاثة الوان, باللون الأسود والبيج و البوردو, تتميز بتصميم بسيط وعصري. تحتوي على كعب عريض يمنح الراحة والثبات، مما يجعلها مناسبة للاستخدام اليومي. يبرز في التصميم حلية معدنية مزخرفة على شكل سلسلة تضيف لمسة من الأناقة والجاذبية. تتمتع بخامة ناعمة تشبه الجلد، مما يكمل مظهرها الراقي، مما يجعلها مثالية للإطلالات الكاجوال أو التنسيقات شبه الرسمية. معروضة على خلفية طبيعية، تعكس الجزمة مزيجًا من المتانة والأناقة الكلاسيكية.								</p>
							</div>
						</div>

						<!-- - -->
						<div class="tab-pane fade" id="information" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<ul class="p-lr-28 p-lr-15-sm">
										<!-- <li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Weight
											</span>

											<span class="stext-102 cl6 size-206">
												0.79 kg
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Dimensions
											</span>

											<span class="stext-102 cl6 size-206">
												110 x 33 x 100 cm
											</span>
										</li> -->

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Materials
											</span>

											<span class="stext-102 cl6 size-206">
												
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Color
											</span>

											<span class="stext-102 cl6 size-206">
												Noir, Creme, Bordeux
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Size
											</span>

											<span class="stext-102 cl6 size-206">
												36, 37, 38, 39
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- - -->
						<!-- Review -->
						<!-- Review
						<div class="tab-pane fade" id="reviews" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<div class="p-b-30 m-lr-15-sm">
										
										<div class="flex-w flex-t p-b-68">
											<div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
												<img src="static/images/avatar-01.jpg" alt="AVATAR">
											</div>

											<div class="size-207">
												<div class="flex-w flex-sb-m p-b-17">
													<span class="mtext-107 cl2 p-r-20">
														Ariana Grande
													</span>

													<span class="fs-18 cl11">
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star-half"></i>
													</span>
												</div>

												<p class="stext-102 cl6">
													Quod autem in homine praestantissimum atque optimum est, id deseruit. Apud ceteros autem philosophos
												</p>
											</div>
										</div>
										
										<form class="w-full">
											<h5 class="mtext-108 cl2 p-b-7">
												Add a review
											</h5>

											<p class="stext-102 cl6">
												Your email address will not be published. Required fields are marked *
											</p>

											<div class="flex-w flex-m p-t-50 p-b-23">
												<span class="stext-102 cl3 m-r-16">
													Your Rating
												</span>

												<span class="wrap-rating fs-18 cl11 pointer">
													<i class="item-rating pointer zmdi zmdi-star-outline"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline"></i>
													<input class="dis-none" type="number" name="rating">
												</span>
											</div>

											<div class="row p-b-25">
												<div class="col-12 p-b-5">
													<label class="stext-102 cl3" for="review">Your review</label>
													<textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
												</div>

												<div class="col-sm-6 p-b-5">
													<label class="stext-102 cl3" for="name">Name</label>
													<input class="size-111 bor8 stext-102 cl2 p-lr-20" id="name" type="text" name="name">
												</div>

												<div class="col-sm-6 p-b-5">
													<label class="stext-102 cl3" for="email">Email</label>
													<input class="size-111 bor8 stext-102 cl2 p-lr-20" id="email" type="text" name="email">
												</div>
											</div>

											<button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
												Submit
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						 -->
					</div>
				</div>
			</div>
		</div>

		
	</section>


		

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						+213-799-895-650
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>



<!--===============================================================================================-->	
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/slick/slick.min.js"></script>
	<script src="static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
	<script>
		function increaseQuantity() {
			const quantityInput = document.getElementById("quantity");
			quantityInput.value = parseInt(quantityInput.value) + 1;
		  }
		  
		  function decreaseQuantity() {
			const quantityInput = document.getElementById("quantity");
			if (quantityInput.value > 1) {
			  quantityInput.value = parseInt(quantityInput.value) - 1;
			}
		  }
		</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>